{% extends "GMCarnetBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block gmcarnet_body %}
	
	<br/>
	<br/>
  
	<h2>Bienvenue sur Poladresse</h2>
	
	<br/>
	
	<p>Poladresse est une application web ayant pour but de répondre à la fonctionnalité d'un carnet d'adresse mais en ligne.<br/>
		Une fois inscrit sur le site, vous pourrez ajouter/modifier des informations à votre profil: </p>
	
	<ul>
		<li>Une adresse e-mail</li>
		<li>Une adresse postale</li>
		<li>Un numéro de téléphone (fixe/portable)</li>
		<li>Une url d'un site web</li>
	</ul>
	
	<p>Vous pourrez ajouter des contacts existant sur le site (amis/collègues/etc) pour avoir accès à leurs informations n'importe où (en ayant bien-sûr une connexion internet :) ). <br/>
		Bonne utlisation de l'application.</p>

{% endblock %}