{% extends "GMCarnetBundle::layout.html.twig" %}

{% block body %}

	<br/>
	<br/>
	
	<div class="row col-lg-offset-0">
		<h1>Inscription</h1>
	</div>
	
	<br/>
	
	<div class="row well">
			{{ form(formulaire) }}
	</div>

{% endblock %}